.search-form {
  max-width: 400px;
  margin: 50px auto 12px;
  display: flex;
  gap: 12px;
  letter-spacing: 0.04em;
}

.search-input {
  border-radius: 8px;
  border: 1px solid #808080;
  padding: 11px;
  width: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2e2f42;
  letter-spacing: 0.04em;
}

.search-input:hover {
  border-color: #000000;
}

.search-input:focus {
  border-color: #808080;
  outline: none;
}

.search-button {
  padding: 12px 32px;
  background-color: #4e75ff;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-weight: 600;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-self: flex-start;
}

.search-button:hover,
.search-button:focus {
  background-color: #6c8cff;
}

.error {
  margin: 12px 0;
  color: #d1001f;
  font-size: 14px;
}
